In [66]:
import pandas as pd

In [67]:
import string

In [89]:
df = pd.read_csv('trainTwitter.csv')

In [90]:
df

          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]

In [70]:
tweets = []

In [71]:
for t in df.tweet:
    tweets.append(t)

In [79]:
def add_to_arr(arr, func):
    temp = []
    for a in arr:
        temp.append(func(a))
    return temp

In [73]:
def add_col(df ,arr, name):
    df[name] = arr
    return df

# 1:

In [72]:
def count_words(txt):
    return len(txt.split())

In [83]:
num_of_big_words_arr = add_to_arr(tweets, count_words)

In [91]:
add_col(df, num_of_big_words_arr, 'Count of words')

,id,label,tweet,Count of words
0,1,0,@user when a father is dysfunctional and is s...,18
1,2,0,@user @user thanks for #lyft credit i can't us...,19
2,3,0,bihday your majesty,3
3,4,0,#model i love u take with u all the time in ...,14
4,5,0,factsguide: society now #motivation,4
...,...,...,...,...
31957,31958,0,ate @user isz that youuu?ðððððð...,5
31958,31959,0,to see nina turner on the airwaves trying to...,23
31959,31960,0,listening to sad songs on a monday morning otw...,13
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",10
31961,31962,0,thank you @user for you follow,6

# 2:

In [94]:
def count_abc(tweet):
    counter = 0
    for t in tweet:
        if t in alphabet_list:
            counter = counter + 1
    return counter

In [95]:
alphabet = string.ascii_letters

In [96]:
alphabet_list = list(alphabet)

In [100]:
abc_size_arr = add_to_arr(tweets, count_abc)

In [102]:
add_col(df, abc_size_arr, 'Count of letters')

,id,label,tweet,Count of words,Count of letters
0,1,0,@user when a father is dysfunctional and is s...,18,79
1,2,0,@user @user thanks for #lyft credit i can't us...,19,93
2,3,0,bihday your majesty,3,17
3,4,0,#model i love u take with u all the time in ...,14,34
4,5,0,factsguide: society now #motivation,4,30
...,...,...,...,...,...
31957,31958,0,ate @user isz that youuu?ðððððð...,5,19
31958,31959,0,to see nina turner on the airwaves trying to...,23,104
31959,31960,0,listening to sad songs on a monday morning otw...,13,49
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",10,49
31961,31962,0,thank you @user for you follow,6,24

# 3:

In [111]:
avg = []

In [112]:
for i in range(len(num_of_big_words_arr)):
    avg.append(format(abc_size_arr[i]/num_of_big_words_arr[i], '.3'))

In [113]:
add_col(df, avg, 'Average word size')

,id,label,tweet,Count of words,Count of letters,Average word size
0,1,0,@user when a father is dysfunctional and is s...,18,79,4.39
1,2,0,@user @user thanks for #lyft credit i can't us...,19,93,4.89
2,3,0,bihday your majesty,3,17,5.67
3,4,0,#model i love u take with u all the time in ...,14,34,2.43
4,5,0,factsguide: society now #motivation,4,30,7.5
...,...,...,...,...,...,...
31957,31958,0,ate @user isz that youuu?ðððððð...,5,19,3.8
31958,31959,0,to see nina turner on the airwaves trying to...,23,104,4.52
31959,31960,0,listening to sad songs on a monday morning otw...,13,49,3.77
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",10,49,4.9
31961,31962,0,thank you @user for you follow,6,24,4.0

# 4:

In [114]:
from nltk.corpus import stopwords

In [115]:
from nltk.tokenize import word_tokenize

# 7:

In [52]:
def secondary_func(txt):
    big_count = 0
    for i in range(len(txt)):
        counter = 0
        for w in txt[i]:
            if w in string.ascii_uppercase:
                counter = counter + 1
            else:
                next
            if len(txt[i]) == counter:
                big_count = big_count + 1
    return big_count

In [53]:
sentence = "ma KORE gever"

In [54]:
secondary_func(sentence.split())

1

In [55]:
num_of_big_words = []

In [56]:
for t in temp:
    num_of_big_words.append(secondary_func(t.split()))

In [57]:
num_of_big_words

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [58]:
df['num of big words'] = num_of_big_words

In [59]:
df

,id,label,tweet,num of big words
0,1,0,@user when a father is dysfunctional and is s...,0
1,2,0,@user @user thanks for #lyft credit i can't us...,0
2,3,0,bihday your majesty,0
3,4,0,#model i love u take with u all the time in ...,0
4,5,0,factsguide: society now #motivation,0
...,...,...,...,...
31957,31958,0,ate @user isz that youuu?ðððððð...,0
31958,31959,0,to see nina turner on the airwaves trying to...,0
31959,31960,0,listening to sad songs on a monday morning otw...,0
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",0
31961,31962,0,thank you @user for you follow,0